{% extends 'app1/base.html' %}
 {% load static %}
{% block css%}

 <link rel="stylesheet" href="{% static 'css/book_page.css' %}" />

{% endblock css%}
{% block content %}

 <div class="book-nav">
		  
		 <a href="{% url 'app1:index_page' %}">  <img class="book-logo" src="{% static 'images/logo.png'%}"></a>
                <ul class="book-main-nav" id="book-check">
                    <li><a href="{% url 'app1:book_list' %}">BOOKS</a></li>
                    
                     <li><a href="{% url 'Sell:post_list' %}">SELL</a></li>
                    <li><a href="#">LOGIN</a></li>

                </ul>
		  
		  
		  
		  
		  
		  
		  </div>


<br><br>
<p>
BOOK TITLE===={{ post.title }}
<br>

     {{    post.created}} 
<br>


BOOK DETAILS======{{ post.description }}<br>
CONTACT DETAILS======{{   post.contact}}

<br>

BOOK PRICE======== Rs. {{  post.price}}<br>


 BOOK OWNER  ===== {{   post.owner }}<br>
<a href="{% url 'Sell:post_update' post.id %}">Update</a>
<a href="{% url 'Sell:post_delete' post.id %}">Delete</a>
</p>
{% endblock content %}
