{% extends 'app1/base.html' %}
 {% load static %}
{% block css%}

 <link rel="stylesheet" href="{% static 'css/book_page.css' %}" />

{% endblock css%}
{% block content %}

 <div class="book-nav">
		  
		 <a href="{% url 'app1:index_page' %}">  <img class="book-logo" src="{% static 'images/logo.png'%}"></a>
                <ul class="book-main-nav" id="book-check">
                    <li><a href="{% url 'Sell:post_create' %}">Post an Add</a></li>
                    <li><a href="{% url 'app1:book_list' %}">BOOKS</a></li>
                    
                     <li><a href="{% url 'Sell:post_list' %}">SELL</a></li>
                    <li><a href="{% url 'app1:login' %}">LOGIN</a></li>

                </ul>
		  
		  
		  
		  
		  
		  
		  </div>
<br></br>

<div class="con">


{% for post in posts %}



<div class="cont">
  {% if post.img %}
            
			<div class="sellimg">
			
                   <a href="{{ post.get_absolute_url }}" > <img   class="imk " src='{{ post.img.url }}' width="400"  /></a>
					
					</div>
					
					{% endif %}
					
					
					<div class="selldetails">
					
					
					
					<div class="title">
					    {{ post.title }}
						</div>
	<div class="created">
	{{ post.created }}

    </div>
	
	
	<div class="description">
	{{ post.description }}

    </div>
	
      <div class="contact">        

 Contact Details :	  
{{ post.contact}}

       </div>         
<div class="price">
Price:
Rs. {{post.price}}
    </div>
	
	<div class="owner">
	Owner:
 {{ post.owner }}
					
		</div>			
					
		</div>			
		
			
					
				
					














  

 
 
  


    
    
    
    

                



 



</div>
{% endfor %}




</div>



{% endblock content %}














