{% extends 'app1/base.html' %}
 {% load static %}
{% block css%}

 <link rel="stylesheet" href="{% static 'css/book_page.css' %}" />

{% endblock css%}
{% block content %}




 <div class="book-nav">
		  
		 <a href="{% url 'app1:index_page' %}">  <img class="book-logo" src="{% static 'images/logo.png'%}"></a>
                <ul class="book-main-nav" id="book-check">
                    <li><a href="{% url 'app1:book_list' %}">BOOKS</a></li>
                    
                     <li><a href="{% url 'Sell:post_list' %}">SELL</a></li>
                    <li><a href="#">LOGIN</a></li>

                </ul>
		  
		  
		  
		  
		  
		  
		  </div>





<div class="chkout">

<form class="fmda" method='post' enctype='multipart/form-data'>

<center><h2>Post An Add</h2></center>
<br>
{% csrf_token %}
{% for field in form %}
     
       <div>
      <label class="head"> {{ field.label }}</label><br>
       {{ field }}<br><br>
       {% for error in field.errors %}
         <p style="color: red">{{ error }}</p>
       {% endfor %}
     </div>
     
   {% endfor %}
   

<center><button class="adp" type="submit">Add Product</button></center>
    
</form>


</div>














{% endblock %}