{% extends "app1/base.html" %}
 {% load static %}
{% block css%}

 <link rel="stylesheet" href="{% static 'css/book_page.css' %}" />

{% endblock css%}
{% block content %} 
      
          <div class="book-nav">
		  
		 <a href="{% url 'app1:index_page' %}">  <img class="book-logo" src="{% static 'images/logo.png'%}"></a>
                <ul class="book-main-nav" id="book-check">
                    
                    
                    <li><a href="#">SELL</a></li>
                    {% if request.user.is_authenticated %}
					
					<li><a href="{% url 'app1:logout' %}">LOGOUT</a></li>
					
					{%else%}
					<li><a href="{% url 'app1:login' %}">LOGIN</a></li>
					{% endif %}
                </ul>
		  
		  
		  
		  
		  
		  
		  </div>



<br>

        
<div id="bo-container">
 <div id="sidebar">
    <h3>Categories</h3>
	<br>
    <ul>
      <li {% if not category %}class="selected"{% endif %}>
        <a href="{% url 'app1:book_list' %}">All</a>
      </li>
      {% for c in categories %}
        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div id="main" class="book-list">
    <h1 class="her">{% if category %}{{ category.name }}{% else %}Books{% endif %}</h1>
    {% for book in books %}
      <div class="item">
        <a href="{{ book.get_absolute_url }}">
          <img  src="{{book.image.url}}" >
     

	   </a>
        <a href="{{ book.get_absolute_url }}">{{ book.name }}</a><br>
        ${{ book.price }}
		
      </div>
    {% endfor %}
  </div>

 </div>
 {% endblock %}
