{% extends "app1/base.html" %}
{% load static %}

{% block css%}

 <link rel="stylesheet" href="{% static 'css/book_page.css' %}" />

{% endblock css%}

{% block content %}

   <div class="book-nav">
		  
		   <img class="book-logo" src="{% static 'images/logo.png'%}">
                <ul class="book-main-nav" id="book-check">
                    <li><a href="#">BOOKS</a></li>
                    <li><a href="#">BUY</a></li>
                    <li><a href="#">SELL</a></li>
                    <li><a href="#">LOGIN</a></li>

                </ul>
		  
		  
		  
		  
		  
		  
		  </div>







  <div class="book-detail">
    <img src="{{book.image.url}}">
    <h1>{{ book.name }}</h1>
    <h2><a href="{{ book.category.get_absolute_url }}">{{ book.category }}</a></h2>
    <p class="price">${{ book.price }}</p>
  
    {{ book.description }}
  </div>
{% endblock %}