{% extends 'app1/base.html'%}
{% load static %}
{% block css%}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
{% endblock css%}

{% block content %}
    <header>

        <nav>
            <div class="row">

              <a href="{% url 'app1:index_page' %}"> <img class="logo" src="{% static 'images/logo.png'%}"></a>
                
				 
				<div class="container">
        
                          
                <form method="post" action='/search/'>
{% csrf_token %}
                    
        <input class="search-input" name="srh" type="text" placeholder="Search here">
           
                    <button class=newbutton type=submit href="{% url 'app1:search' %}"> <i class="fa fa-search " id="sr"></i></button>
                    </form>
                    
  
    

  



</form>    
                    
                    
                    
                    
                    
                    
        </div>
				<ul class="main-nav" id="check">
				
                    <li><a href="{% url 'app1:book_list' %}">BOOKS</a></li>
                    
                    <li><a href="{% url 'Sell:post_list' %}">SELL</a></li>
					{% if request.user.is_authenticated %}
					
					<li><a href="{% url 'app1:logout' %}">LOGOUT</a></li>
					
					{%else%}
					<li><a href="{% url 'app1:login' %}">LOGIN</a></li>
					{% endif %}
                </ul>

                <a href="#" class="mobile-icon" onclick="slideshow()"><i class="fa fa-bars"></i></a>

            </div>





        </nav>


        
        
        
       


    </header>



<main>

<div class="div1">
    <div class="sell">
    <h1>Sell Textbooks</h1>
        <br>
    <div class='sell-text'>There's no point keeping those old textbooks around to gather dust.
    Sell your textbooks to students who need them and make some extra cash to spend on the finer
        things in life.</div></div>
    </div>
<div class="div2">
    
    <div class="div2img">
    <img class='div2img2' src="{% static 'images/2.jpg' %}"/>
    
    </div>
    
    
    </div>
<div class="div3">
    
      <div class="div2img">
    <img class='div2img2' src="{% static 'images/3.jpg' %}"/>
    
    </div>
    
    
    </div>
<div class="div4">
    
    
  


    
     <div class="sell">
    <h1>Cheap College Textbooks</h1>
        <br>
    <div class='sell-text'>Why pay full price when you don’t have to? You’re probably tired of getting gouged by your campus bookstore at this point, so save some money by buying used books from other students just like you.</div></div>
    </div>
    
    
    
<div class="div5">
    
    
      <div class="sell">
    <h1>  Price Comparison</h1>
        <br>
    <div class='sell-text'>If there’s nobody selling the textbook that you’re after on your campus, use our handy price comparison tool to find the cheapest prices online amongst 100s of stores so that you can order it quickly and avoid spending too much.</div></div>
    
    
    
  


    
    </div>
<div class="div6">
        <div class="div2img">
    <img class='div2img2' src="{% static 'images/4.jpg' %}"/>
    
    </div>
    
    </div>
<div class="div7">
    
    
    
    
    
  


        <div class="div2img">
    <img class='div2img2' src="{% static 'images/2.jpg' %}"/>
    
    </div>
    
    
    </div>
<div class="div8">
    
     <div class="sell">
    <h1>    Directly On-Campus at your College</h1>
        <br>
    <div class='sell-text'>Our service makes it easy to find used, cheap textbooks right in your own backyard. We’ll connect you with the students on your very own college campus for direct buying and selling from people just like you. No middleman, no price gouging!</div></div>
    
    
    </div>




</main>

<!--***************************************section1***************************************************-->
<div class="section">


<div class="section-area">
    
    <h1 class="section-text">Sign Up Free Today!</h1>
    <div class="section-para">When a textbook is not yet available on-campus by another student, we show you the cheapest price online amongst many bookstores.</div>
    <div class="section-search-area">
        
        
        <input class="search-input2" type="text" placeholder="Search here">
            <i class="fa fa-search " id="sr2" ></i>
        </div>
    
    </div>


</div>


<!--***************************************************************************************************-->


<!--****************************************section2*************************************************-->

<div class="section-2">


<div class="sec2text">
    <h1 class="t">Thousands and Thousands of Students Served!</h1>
    <div class="a" >And we don’t mean to brag, but we’ve saved them over</div>
    <div class="b">$116,843,431.78!</div>
    
    </div>



</div>

<!--***************************************************************************************************-->





<!--*******************************************footer**********************************************-->
<footer class="footer-distributed">

			<div class="footer-left">

				<h3 class="fthj"><a href='/'><small>BooksBajar</small></a></h3>
		

				<p class="footer-links">
					<a href="#">Home</a>
					·
					
					
					<a href="#">About</a>
					·
					
					
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">BooksBajar &copy; 2020</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

			<div class="footer-right">

				<p>Contact Us</p>

				<form action="#" method="post">

					<input type="text" name="email" placeholder="Email" />
					<textarea name="message" placeholder="Message"></textarea>
					<button>Send</button>

				</form>

			</div>

		</footer>





<div class="footer">


<div class="footer-text">
    
    <small class="cpy">Copyright &amp; 2020 all rights reserved </small>
    
    
    </div>







</div>


















<!--***************************************************************************************************-->
<!--*********************************javascript code*************************************************-->

    <script>
        function slideshow() {

            var x = document.getElementById('check');
            if (x.style.display === "none") {
                x.style.display = "block";

            } else {
                x.style.display = "none";
            }

        }
    </script>


<!--**************************************************************************************************-->





{% endblock %}
