@import url(http://fonts.googleapis.com/css?family=Ubuntu);

* { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif; 
	box-sizing:border-box;
	
}


#sidebar {
    width:20%;
    padding:30px 20px 0 0;
    float:left;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#5993bb;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

#main {
    float:left;
    width: 80%;
    margin-right:-220px; 
    overflow:hidden;
	padding-right:10px;
	
}

.book-list .item {
    width:25%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
	overflow: hidden;
	box-sizing: border-box;
	display: inline-block;
}

.book-list .item img {
	width:100%;
    margin-bottom:8px;
	padding-left:10px;
	margin-left:10px;
	transition: transform 2s;
}

.book-list .item img:hover {
	transform: scale(0.9);
}

.book-detail {
    text-align:justify;
	margin-left:40px;
	margin-top:40px;
	padding-right:40px;
}

.book-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.book-detail img {
    width:20%;
    float:left;
    padding:0 20px 20px 0;
}

.book-detail h1 {
    margin-bottom:0;
	margin-right: 10px;
}

.book-detail h2 {
   
}










.book-nav{
	
	width:100%;
	height:100px;
	
	background:url(../images/2.jpg);
	
}



.book-logo {
    height: 120px;
    width: auto;
    margin-left: 40px;
    float: left;
    margin-top: 0px;


}

.book-main-nav {
    float: right;
    margin-top: 40px;
   padding-right:80px;

}


.book-main-nav li {

    display: inline-block;
    list-style: none;
    margin-left: 40px;
}





.book-main-nav li a {

	color:white;
    text-decoration: none;
    font-size: 25px;
	padding: 5px 12px;
	border: 1px solid transparent;
	transition: 0.6s ease;
	letter-spacing: 3px;
}

.book-main-nav li a:hover {
	background-color: #fff;
	color: #000;
}


#bo-container{
width:100%;
height:120vh;

padding-left:20px;
padding-top:20px;
overflow:hidden;


}

.her{

padding-left:480px;
}

a{
	text-decoration:none;
}











.loginform{
	width:1000px;
	height:550px;
	

	margin:30px auto;
	background:url(../images/login.jpg);
	background-size:cover;
	box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}
.frma{
	
	width:40%;
	height:60%;
	position:relative;
	left:520px;
	top:50px;
	
	}
	
.ltext{
	text-align:center;
	font-size:30px;
	
	font-weight:bold;
}

.btn{
	background: white;
	width:100px;
	height:50px;
	margin-left:60px;
		margin-top:10px;
		border:2px solid #008CBA;
		    border-radius: 10px 10px 10px 10px;
		color:black;
		font-weight:bold;
		outline:none;
		float:left;
		transition-duration: 0.4s;
        cursor: pointer;
}

.btn:hover {
  background-color: #008CBA;
  color: white;
}

.btna{
	background: white;
	width:100px;
	height:50px;
	margin-left:70px;
		margin-top:10px;
		border:2px solid #008CBA;
		    border-radius: 10px 10px 10px 10px;
		color:black;
		font-weight:bold;
		outline:none;
		float:left;
		padding-top:10px;
		padding-left:20px;
		transition-duration: 0.4s;
        cursor: pointer;
}

.btna:hover {
  background-color: #008CBA;
  color: white;
}

.head{
	font-size:25px;
	margin-top:10px;
}

#id_username, #id_password,#id_email,#id_password1,#id_password2{
	
	margin-top:10px;
	padding-left:10px;
	width:100%;
	height:60px;
	outline:none;
	border-radius: 10px 10px 10px 10px;
	
	
}

.lgot{
	text-align:center;
}







.imk{
	
	
	

}




.sellimg{
	
	
	
}



.selldetails{
	
padding-left:60px;
	
}


.cont{
	display:flex;
	padding-top:30px;
	padding-left:160px;
	padding-right:160px;
}


.title{
	
	padding-bottom:10px;
	font-size:30px;
	font-weight:bold;
}















.created{
	
	
	font-size:20px;
	
}
.contact{
	
font-size:20px;

}
.price{
	
	
font-size:20px;

}
.owner{
	
	
	font-size:20px;
}


.description{
	
	padding-top:10px;
	padding-bottom:10px;
	font-size:20px;
}

.modi{
	background:#6699cc;
	color:white;
	padding:10px;
	    border-radius: 10px 10px 10px 10px;
	
	
}





.adp{
	background:#6699cc;
	color:white;
	padding:5px;
	border:2px solid #6699cc;
	border-radius: 5px 5px 5px 5px;
	
}








.atc{
	
	color:white;
	background:#6699cc;
	border-color:#6699cc;
	border-radius: 5px 5px 5px 5px;
	padding:5px;
	   
}







