{% load static %}
 <link rel="stylesheet" href="{% static 'css/cart.css' %}" />


{% block content %}


 <div class="book-nav">
		  
		 <a href="{% url 'app1:index_page' %}">  <img class="book-logo" src="{% static 'images/logo.png'%}"></a>
                <ul class="book-main-nav" id="book-check">
                    
                    
                    <li><a href="{% url 'Sell:post_list' %}">SELL</a></li>
                    {% if request.user.is_authenticated %}
					
					<li><a href="{% url 'app1:logout' %}">LOGOUT</a></li>
					
					{%else%}
					<li><a href="{% url 'app1:login' %}">LOGIN</a></li>
					{% endif %}
                </ul>
		  
		  
		  
		  
		  
		  
		  </div>

<br><br>

   <center> <h1>Thank you</h1></center>
   <br>
   
   <center> <p>Your order has been successfully completed. Your order number is <strong>{{ order.id }}</strong>.</p></center>
{% endblock %}
