{% load static %}
{% load i18n %}
 <link rel="stylesheet" href="{% static 'css/cart.css' %}" />


{% block content %}

 <div class="book-nav">
		  
		 <a href="{% url 'app1:index_page' %}">  <img class="book-logo" src="{% static 'images/logo.png'%}"></a>
                <ul class="book-main-nav" id="book-check">
                    
                    
                    <li><a href="#">SELL</a></li>
                    {% if request.user.is_authenticated %}
					
					<li><a href="{% url 'app1:logout' %}">LOGOUT</a></li>
					
					{%else%}
					<li><a href="{% url 'app1:login' %}">LOGIN</a></li>
					{% endif %}
                </ul>
		  
		  
		  
		  
		  
		  
		  </div>





    <div class="order-info">
	<br>
        <h3>Your order </h3>
		<br>
		<br>
        <ul>
            {% for item in cart %}
                <li>{{ item.quantity }}x {{ item.product.name }} <span>Rs.{{ item.total_price }}</span></li>
            {% endfor %}
            {% if cart.coupon %}
                <li>
                    {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
                        "{{ code }}" ({{ discount }}% off)
                    {% endblocktrans %}
                    <span>- Rs.{{ cart.get_discount|floatformat:"2" }}</span>
                </li>
            {% endif %}
        </ul>
        <p>{% trans "Total" %}: Rs.{{ cart.get_total_price_after_discount|floatformat:"2" }}</p>
    </div>

   
	
	
	
	
	
	
	
	
	
 <form action="." method="post" class="order-form">
 <br>
<h1>Checkout</h1>
 <br>
 <br>
   {% csrf_token %}
   {% for field in form %}
     
       <label class="head">{{ field.label_tag }}</label><br>
      {{ field }}
	  <br>
	  <br>
     
     
   {% endfor %}
  <p><input type="submit" value='Place order'></p>
   
  
 </form>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
{% endblock %}
