{% extends 'app1/base.html' %}
{% load static  %}
{% block css%}


 <link rel="stylesheet" href="{% static 'css/book_page.css' %}" />

{% endblock css%}
{% block content %}

          <div class="book-nav">
		  
		 <a href="{% url 'app1:index_page' %}">  <img class="book-logo" src="{% static 'images/logo.png'%}"></a>
                <ul class="book-main-nav" id="book-check">
                    <li><a href="{% url 'app1:book_list' %}">BOOKS</a></li>
                    <li><a href="#">BUY</a></li>
                    <li><a href="{% url 'Sell:post_list' %}">SELL</a></li>
                    <li><a href="{% url 'app1:login' %}">LOGIN</a></li>

                </ul>
		  
		  
		  
		  
		  
		  
		  </div>




<div class="loginform">
 <form class="frma" method="post">
 <div class="ltext">Sign Up</div>
   {% csrf_token %}
   {% for field in form %}
     <div>
       {{ field.label_tag }}
       {{ field }}
       {% for error in field.errors %}
         <p style="color: red">{{ error }}</p>
       {% endfor %}
     </div>
   {% endfor %}
     <a class="btna"  href="{% url 'app1:login' %}">Sign in</a>
   <button class="btn" type="submit">Submit</button>
 </form>
 </div>
{% endblock %}